doctype html
html
  head
    meta(charset="UTF-8")
    title Title
    link(rel="stylesheet", href=bootstrapCss)
    link(rel="stylesheet", href=flatuiCss)
    link(rel="stylesheet", href="")

  body
    
    script(type="text/javascript", src=jqueryJs)
    script(type="text/javascript", src=bootstrapJs)
    script(type="text/javascript", src="")
